
/* RemixDesign | woaichidapi@163.com | Redesigned by JimmyCheung */
* {
    font-family: sans-serif;
}

#wrapper {
    margin: 150px auto;
    max-width: 400px;
}

.audioplayer {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    margin: auto;
    margin-top: 1em;
    padding: 0 24px;
    width: 85%;
    height: 80px;
    align-items: center;
    border-radius: 50px;
    background: #0e0e0e;
    box-shadow: 2px 2px 4px black;
}

.audioplayer-playpause {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.audioplayer:not(.audioplayer-playing) .audioplayer-playpause {
    background: rgba(91, 130, 255, 0);
    border: 2px solid #FF7700FF;
    box-shadow: 2px 2px 4px black;
}

.audioplayer:not(.audioplayer-playing) .audioplayer-playpause:hover {
    background: rgb(37, 37, 37);
}

.audioplayer-playing .audioplayer-playpause {
    background: rgba(253, 79, 26, 0);
    border: 2px solid #FF7700FF;
}

.audioplayer-playing .audioplayer-playpause:hover {
    background: rgb(56, 43, 37);
}

.audioplayer:not(.audioplayer-playing) .audioplayer-playpause a {
    content: '';
    justify-content: center;
    width: 0;
    height: 0;
    margin-left: 2px;
    border-top: 7px solid transparent;
    border-right: none;
    border-bottom: 7px solid transparent;
    border-left: 12px solid #FF7700FF;
}

.audioplayer-playing .audioplayer-playpause a {
    content: '';
    display: flex;
    justify-content: space-between;
    width: 12px;
    height: 14px;
}

.audioplayer-playing .audioplayer-playpause a::before, .audioplayer-playing .audioplayer-playpause a::after {
    content: '';
    width: 4px;
    height: 14px;
    background-color: #FF7700FF;
}

.audioplayer-time {
    display: flex;
    width: 40px;
    justify-content:center;
    font-size: 12px;
    color: rgb(255, 255, 255)
}

.audioplayer-time-current {
    margin-left: 24px;
}

.audioplayer-time-duration {
    margin-right: 24px;
}

.audioplayer-bar {
    position: relative;
    display: flex;
    margin: 0 12px;
    height: 12px;
    flex-basis: 0;
    flex-grow: 1;
    cursor: pointer;
}

.audioplayer-bar::before {
    content: '';
    position: absolute;
    top: 5px;
    width: 100%;
    height: 2px;
    background-color: #484848;
}

.audioplayer-bar > div {
    position: absolute;
    left: 0;
    top: 5px;
    border-radius: 20px;
}
.audioplayer-bar-loaded {
    z-index: 1;
    height: 2px;
    background: #757575;
}

.audioplayer-bar-played {
    flex-direction: row-reverse;
    z-index: 2;
    height: 2px;
    background: -webkit-linear-gradient(left, #944300, #FF7700FF);
}

.audioplayer-bar-played::after {
    display: flex;
    position: absolute;
    content: '';
    box-sizing: border-box;
    top: -5px;
    right: -1px;
    margin-right: -5px;
    width: 12px;
    height: 12px;
    background-color: #FF7700FF;
    border-radius: 6px;
}

.audioplayer:not(.audioplayer-playing) .audioplayer-bar-played::after {
    border: 2px solid #FF7700FF;
}

.audioplayer-playing .audioplayer-bar-played::after {
    border: 2px solid #FF7700FF;

}

.audioplayer-volume {
    display: flex;
    align-items: center;
}

.audioplayer-volume-button {
    display: flex;
    align-items: center;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.audioplayer-volume-button a {
    display: flex;
    width: 6px;
    height: 8px;
    background-color: #FF7700FF;
    position: relative;
    box-shadow: 2px 2px 4px black;
}

.audioplayer-volume-button a:before, .audioplayer-volume-button a:after {
    content: '';
    position: absolute;
}

.audioplayer-volume-button a:before {
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-right: 9px solid #FF7700FF;
    border-bottom: 8px solid transparent;
    border-left: none;
    top: -4px;
}

.audioplayer:not(.audioplayer-mute) .audioplayer-volume-button a:after {
    left: 10px;
    top: -2px;
    width: 6px;
    height: 6px;
    border: 6px double #FF7700FF;
    border-width: 6px 6px 0 0;
    border-radius: 0 12px 0 0;
    transform: rotate(45deg);
}

.audioplayer-mute .audioplayer-volume-button a {
    background-color: #FF7700FF;
}

.audioplayer-mute .audioplayer-volume-button a:before {
    border-right: 9px solid #FF7700FF;
}

.audioplayer-volume-adjust {
    display: flex;
    align-items: center;
    margin-left: 8px;
}

.audioplayer-volume-adjust > div {
    position: relative;
    display: flex;
    width: 60px;
    height: 2px;
    cursor: pointer;
    background-color: #484848;
    box-shadow: 2px 2px 4px black;
}

.audioplayer-volume-adjust div div {
    position: absolute;
    top: 0;
    left: 0;
    height: 2px;
    background-color: #FF7700FF;
    box-shadow: 2px 2px 4px black;
}

/* responsive | you can change the max-width value to match your theme */

@media screen and (max-width: 679px) {
    .audioplayer-volume-adjust {
        display: none;
    }
}
