@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    font-family: Lato, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background-image: url("https://i.imgur.com/22qJP4w.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper {
    position: relative;
    display: table;
    text-align: center;
    margin: auto;
    width: 30%;
    height: 100%;
    box-shadow: 2px 2px 10px black;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(32,32,32,1) 100%);
}

.wrapper2 {
    position: relative;
    display: table;
    text-align: center;
    margin: auto;
    width: 30%;
    height: 100%;
    box-shadow: 2px 2px 10px black;
    background: rgb(152,152,152);
    background: linear-gradient(0deg, rgba(152,152,152,1) 0%, rgba(255,255,255,1) 100%);
}


h1 {
    padding-top: 1rem;
    margin: auto;
    color: #FF7700;
    font-family: LAMEBRAINS, Lato, sans-serif;
    font-size: 54px;
    text-shadow: 0 0 6px black;
    display: flex;
    text-align: center;
    justify-content: center;
}

h5 {
    margin-top: 25px;
    color: black;
    font-family: LAMEBRAINS, Lato, sans-serif;
    font-size: 54px;
}

h6 {
    margin-top: 100px;
    color: black;
    font-family: Lato, sans-serif;
}



h3 {
    margin-top: 100px;
    color: #FF7700;
    font-family: Lato, sans-serif;
}

h4 {
    font-size: 14px;
    margin-top: 20px;
    color: #FF7700;
    font-family: Lato, sans-serif;
}

.pricediv {
    position: relative;
    display: table;
    text-align: center;
    margin: auto;
    width: 30%;
    height: 100%;
    box-shadow: 2px 2px 10px black;
    background: black;
}

.h7 {
    margin-top: 20px;
}

input {
    margin-top: 10px;
    outline: none;
    border: none;
    border-radius: 20px;
    padding: 10px;
    padding-right: 40px;
    padding-left: 40px;
}

input file {
    margin: auto;
    display: table-cell;
    vertical-align: bottom;
    background: #FF7700;
    font-family: Lato, sans-serif;
    font-weight: bold;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 80px;
    padding-left: 80px;
    border-radius: 20px;
    border: none;
    outline: none;
    transition: 0.2s background, color ease-in-out;
}

.selection {
    margin-top: 10px;
    outline: none;
    border: none;
    border-radius: 20px;
    padding: 10px;
    padding-right: 70px;
    padding-left: 70px;
}

.beatfile{
    color: white;
}

.button {
    margin: auto;
    margin-top: 15rem;
    background: #FF7700;
    font-family: Lato, sans-serif;
    font-weight: bold;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 80px;
    padding-left: 80px;
    border-radius: 20px;
    border: none;
    outline: none;
    transition: 0.2s background, color ease-in-out;
}

.button:hover {
    background: white;
    color: #FF7700;
    cursor: pointer;
}

.button2:hover {
    background: white;
    color: #FF7700;
    cursor: pointer;
}

.radio {
    color: #FF7700;
    background: #FF7700;
}

.button2 {
    position: absolute;
    margin: auto;
    left: 14em;
    bottom: 10%;
    display: table-cell;
    vertical-align: bottom;
    background: #FF7700;
    font-family: Lato, sans-serif;
    font-weight: bold;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 80px;
    padding-left: 80px;
    border-radius: 20px;
    border: none;
    outline: none;
    transition: 0.2s background, color ease-in-out;
}

.menu {
    position: absolute;
    top: 18px;
    right: 10px;
    width: 32px;
    height: auto;
}

.closemenubtn {
    position: absolute;
    right: 1em;
    top: 1em;
    font-size: 2rem;
    overflow: hidden;
    display: block;
    color: black;
    font-family: Lato, sans-serif;
    width: 10%;
    transition-duration: 0.5s;
}

.closemenubtn:hover {
    text-shadow: 0 0 6px black;
}

.menubtn2:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.menubtn2:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.menubtn2 {
    display: inline-block;
    position: relative;
    margin-top: 25%;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    overflow: hidden;
    color: black;
    font-family: Lato, sans-serif;
    text-decoration: none;
    transition-duration: 0.4s;
}

.menubtn2:hover {
    text-shadow: 0 0 6px black;
}

.menubtn {
    position: absolute;
    right: 1em;
    top: 1em;
    font-size: 2rem;
    overflow: hidden;
    display: block;
    color: #FF7700;
    font-family: Lato, sans-serif;
    width: 10%;
    transition-duration: 0.5s;
}

.menubtn:hover {
    text-shadow: 0 0 6px #FF7700;
}

.mb4 {
    margin-top: 250px;
}

.selection {
    color: black;
}

.free {
    display: none;
}

.premium {
    display: block;
}

::selection{
    background: #ff7700;
    color: #fff;
}

.form-wrapper{
    color: white;
    overflow: hidden;
    max-width: 390px;
    background: #171717;
    padding: 30px;
    border-radius: 25px;
    box-shadow: 0 0 4px black;
}
.form-wrapper .title-text{
    display: flex;
    width: 200%;
}
.form-wrapper .title{
    width: 50%;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.form-wrapper .slide-controls{
    position: relative;
    display: flex;
    height: 50px;
    width: 100%;
    overflow: hidden;
    margin: 30px 0 10px 0;
    justify-content: space-between;
    border: 1px solid #ff7700;
    border-radius: 25px;
}
.slide-controls .slide{
    height: 100%;
    width: 100%;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    line-height: 48px;
    cursor: pointer;
    z-index: 1;
    transition: all 0.6s ease;
}
.slide-controls label.signup{
    color: #000;
}
.slide-controls .slider-tab{
    position: absolute;
    height: 100%;
    width: 50%;
    left: 0;
    z-index: 0;
    border-radius: 15px;
    background: #ff7700;
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}

.form input {
    box-shadow: 0 0 4px black;
}

input[type="radio"]{
    display: none;
}
#signup:checked ~ .slider-tab{
    left: 50%;
}
#signup:checked ~ label.signup{
    color: #fff;
    cursor: default;
    user-select: none;
}
#signup:checked ~ label.login{
    color: #7a7a7a;
}
#login:checked ~ label.signup{
    color: #7a7a7a;
}
#login:checked ~ label.login{
    cursor: default;
    user-select: none;
}
.form-wrapper .form-container{
    width: 100%;
    overflow: hidden;
}
.form-container .form-inner{
    display: flex;
    width: 200%;
}
.form-container .form-inner form{
    width: 50%;
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.form-inner form .field{
    height: 50px;
    width: 100%;
    margin-top: 20px;
}
.form-inner form .field input{
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 15px;
    border-radius: 25px;
    border: 1px solid lightgrey;
    border-bottom-width: 2px;
    font-size: 17px;
    transition: all 0.3s ease;
}
.form-inner form .field input:focus{
    border-color: #ff7700;
    /* box-shadow: inset 0 0 3px #fb6aae; */
}
.form-inner form .field input::placeholder{
    color: #999;
    transition: all 0.3s ease;
}
form .field input:focus::placeholder{
    color: #ff7700;
}
.form-inner form .pass-link{
    margin-top: 5px;
}
.form-inner form .signup-link{
    text-align: center;
    margin-top: 30px;
}
.form-inner form .pass-link a,
.form-inner form .signup-link a{
    color: #ff7700;
    text-decoration: none;
}
.form-inner form .pass-link a:hover,
.form-inner form .signup-link a:hover{
    text-decoration: underline;
}
form .btn{
    height: 50px;
    width: 100%;
    border-radius: 25px;
    position: relative;
    overflow: hidden;
}
form .btn .btn-layer{
    height: 100%;
    width: 300%;
    position: absolute;
    left: -100%;
    background: #ff7700;
    border-radius: 15px;
    transition: all 0.4s ease;;
}
form .btn:hover .btn-layer{
    left: 0;
}
form .btn input[type="submit"]{
    height: 100%;
    width: 100%;
    z-index: 1;
    position: relative;
    background: none;
    border: none;
    color: #fff;
    padding-left: 0;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}


@media only screen and (max-width: 800px) {
    .wrapper {
        width: 100%;
    }

    .wrapper2 {
        width: 100%;
    }
}
